html, body {
    margin: 0;
    padding: 0;

    min-width: 100%;
    min-height: 100%;
}

html {
    font-size: 1.1em;
}

* {
    border-radius: 0;
}

body {
    box-sizing: border-box;
    background-image: linear-gradient(137deg, #2a0045, #000010);
    background-attachment: fixed;

    color: #ffffff;

    font-family: 'Space Grotesk', sans-serif;

    line-height: 2.0em;
}

h1, h2, h3, h4, h5, h6 {
    margin-block: 0.5em;
}

h4 {
    font-size: 1.07rem;
}

#container {
    display: inline-block;
    box-sizing: border-box;
    padding: 3rem;
}

h1 {
    color: #E0AAFF;
}

h6 {
    font-size: inherit;
    font-style: italic;
    color: rgb(199, 119, 245)
}

input, button, td, .infobox {
    color: inherit;
    font: inherit;
    background-color: #9D4EDD60;
    border: 0.1rem solid #E0AAFFA0;
}

button:disabled {
    color: #ddd;
}

ul, ol {
    color: #c3c3c3;
}

form {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

form input {
    height: 1.3em;
}

input[type="submit"], button {
    height: 1.8em;
    line-height: 1.6em;
}

.errors {
    margin-top: 0.5em;
    color: rgb(255, 0, 64);
}

.errors > div {
    margin-top: 0.5em;
}

a {
    color: #E0AAFF;
}
a:hover {
    color: rgb(255, 215, 255);
}

.strikethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #c67aec60;
}

::placeholder {
    color: #ffffff70;
}
