{% extends "viewer.html" %} {% block head %}
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='ui.css') }}"
/>
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='admin.css') }}"
/>
{% endblock %} {% block beforecontent %}
<div><a href="{{ url_for('logout') }}">Logout</a></div>
{% endblock %} {% block bottomcontainer %}

<div id="terminal-container">
    <div class="terminal-open">
        <h3>Terminal</h3>
        <button id="terminal-stop">Force Stop Program</button>
        (stopping the program may not save the data; try exiting the program
        normally instead)
    </div>
    <div class="terminal-closed-options">
        <h3>Program is currently stopped.</h3>
        <button id="terminal-start">Start Program</button>
    </div>
    <div id="terminal-text-container">
        <pre id="terminal-text"></pre>
    </div>
    <div class="terminal-disconnected">
        <h3>Connection Closed</h3>
        <p>Connection force-closed by another client.</p>
        <p>Reload to try again.</p>
    </div>
</div>

<div class="vflex-container">
    {% include 'rng.html' %}
    <div id="upload-gamedata">
        <h3>Game Data</h3>
        <p>
            You are replacing <b>{{ minor_game_data[game_id]["file"] }}</b>. Be
            careful!
        </p>
        <form
            action="/api/set_game_data/{{ game_id }}"
            method="post"
            enctype="multipart/form-data"
        >
            {{ game_data_form.hidden_tag() }} {{ game_data_form.file.label }} {{
            game_data_form.file(accept=".json") }}
            <div class="spacing"></div>
            <input type="submit" value="Upload" />
        </form>
    </div>
</div>

{% endblock %} {% block aftercontent %}
<script
    type="module"
    src="{{ url_for('static', filename='admin.js') }}"
></script>
{% endblock %}
