{% extends "base.html" %} {% block basehead %}
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='ui.css') }}"
/>

<meta content="Balanced Game" property="og:title" />
<meta content="It's Balanced Game!" property="og:description" />
<meta content="/static/balancedgame.png" property="og:image" />
<meta content="#550287" data-react-helmet="true" name="theme-color" />

{% block head %}{% endblock %}

<script type="text/javascript">
    window.LOADED_DATA = {{ game_data|tojson|safe }};
    window.GAME_ID = "{{ game_id }}";
</script>

{% endblock %} {% block content %}
<nav>
    <a id="nav-logo-container" href="/" class="game-link" data-game-id="maina">
        <img src="/static/balancedgame.svg" />
        <h1>Balanced Game</h1>
        <div class="separator"></div>
    </a>
    {% for game_id, game_data in minor_game_data.items() %}
    <a href="/game/{{ game_id }}" class="game-link" data-game-id="{{ game_id }}"
        >{{ game_data["name"] }}</a
    >
    {% endfor %}
</nav>

<div id="top-container">
    <div>
        <h1>"Balanced Game"</h1>
        <p id="splash-text"></p>
        <h6>Brought to you by Nick & Colin</h6>
        <p>Version <span id="version" class="inactive">Loading...</span></p>
        {% block beforecontent %}{% endblock %}
    </div>
    <div class="infobox">
        <h3>Event Log</h3>
        <div id="event-log" class="scrollable"></div>
    </div>
</div>

<div id="table-container"></div>

{% block aftercontent %}{% endblock %}

<div id="bottom-container">{% block bottomcontainer %}{% endblock %}</div>

<div id="changelog">
    <h1>Balanced Game Forum Posts</h1>
    <p class="inactive">Forum posts loading...</p>
</div>

<script
    src="https://cdn.socket.io/4.7.4/socket.io.min.js"
    integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
    crossorigin="anonymous"
></script>

{% endblock %} {% block aftercontainer %}
<div id="tooltip" hidden></div>
{% endblock %}
